<div class="container-fluid" style="background-color: #6E0AD6;">
    <nav class="navbar navbar-expand-lg navbar-light m-0" style="background-color: #6E0AD6; height: 80px;">
        <a class="navbar-brand text-white" href="#" style="font-weight: bold;">Pedidos próximos a você</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent"
            style="background-color: gray; height: 600px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 style="color: #6E0AD6;">R$ 5</h6>
                  <h6 style="color: #6E0AD6;">Pequeno</h6>
                  <h6 >Retirar em Rua Padre Jose Vieira de Matos, 970 - Artur Alvim - SP , 03590-010</h6>
                  <h6><img src="../../assets/img/relogio.png" alt="Icone Relogio" style="width: 32px;"> 15:00 - 16:00</h6>
                  <button type="button" class="btn" style="background-color: #6E0AD6; text-align: end; color: #FFFFFF; font-weight: bold;">Aceitar</button>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 style="color: #6E0AD6;">R$ 7</h6>
                  <h6 style="color: #6E0AD6;">Médio</h6>
                  <h6 >Retirar em Rua Duilho Lenarduzi, 368 - Ermelino Matarazzo - SP , 03807-050</h6>
                  <h6><img src="../../assets/img/relogio.png" alt="Icone Relogio" style="width: 32px;"> 09:00 - 10:00</h6>
                  <button type="button" class="btn" style="background-color: #6E0AD6; text-align: end; color: #FFFFFF; font-weight: bold;">Aceitar</button>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 style="color: #6E0AD6;">R$ 10</h6>
                  <h6 style="color: #6E0AD6;">Grande</h6>
                  <h6 >Retirar em Rua Avenida Brasil, 1535  - São Franscisco - SP , 08585-052</h6>
                  <h6><img src="../../assets/img/relogio.png" alt="Icone Relogio" style="width: 32px;"> 08:00 - 09:00</h6>
                  <button type="button" class="btn" style="background-color: #6E0AD6; text-align: end; color: #FFFFFF; font-weight: bold;">Aceitar</button>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  d-flex justify-content-center mb-0"
            style="margin-top: 10px; background-color: gainsboro; height: 100px;">
            <a href=""><img class="p-3" src="../../assets/img/Historico.png" alt="Icone Historico"
                    style="width: 100px;">
            </a>
            <a href=""> <img class="p-3" src="../../assets/img/local.png" alt="Icone local" style="width: 100px;">
            </a>
            <a>
                <img class="p-3" src="../../assets/img/procurar.png" alt="Icone Procurar" width="100px" routerLink = "/pedidos">
            </a>
        </div>
    </div>
</div>
