<div class="container-fluid" style="background-color: #6E0AD6;">
    <nav class="navbar navbar-expand-lg navbar-light m-0" style="background-color: #6E0AD6; height: 80px;">       
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    <h5 class="mt-2" style="color: #6E0AD6; font-weight: bold;">Entregue o Pedido</h5>
                    <h6 style="color: #6E0AD6;">R$ 17</h6>
                    <h6 style="color: #6E0AD6;">Pequeno</h6>
                    <h6>Entregar em Rua São Serafim, 434 - Penha - SP , 03490-050</h6>
                    <h6><img src="../../assets/img/relogio.png" alt="Icone Relogio" style="width: 32px;"> 15:00 - 16:00
                    </h6>
                    <h6 class="mt-3">Tempo até o estabelecimento:</h6>
                    <h5> 20 min / 12 KM</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0885157468533!2d-46.541962585543864!3d-23.529318566293625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e46ae174d07%3A0xdbe3c8fc53e5e6b!2sR.%20S%C3%A3o%20Serafim%2C%20434%20-%20Penha%20de%20Fran%C3%A7a%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003638-000!5e0!3m2!1spt-BR!2sbr!4v1603021790978!5m2!1spt-BR!2sbr" width="250" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                    <h6 class="mt-3"><img class="" src="../../assets/img/contato.png" alt="Icone contato" style="width: 50px; margin-right: 140px;"> 
                    <img src="../../assets/img/ponto-de-interrogacao.png" alt="Icone ajuda" style="width: 50px;"></h6>
                    <button type="button" class="btn mt-3"
                    routerLink = "/qrcode"
                        style="background-color: #6E0AD6; text-align: center;
                         color: #FFFFFF; font-weight: bold; width: 100%;"
                      >Entreguei o pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>

