<div class="container" style="background-color: #FFFFFF; height: 815px;">
    <div class="row">
        <div class="col-md-12  d-flex justify-content-center" style="margin-top: 100px;">
            <img src="../../assets/img/olxfast.png" alt="Logo" style="border-radius: 5px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 300px;">
            <button type="button" class="btn btn-warning" style="width: 300px;" routerLink = "/login">Entrar</button>
        </div>
    </div>
</div>