<div class="container-fluid">
    <div class="row" style="height: 130px;">
        <div class="col-md-12 d-flex justify-content-center mt-5">
            <img src="../../assets/img/olxfast.png" alt="Logo login" style="width: 80px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <h5 class="" style="text-align: center; font-weight: bold; color: #6E0AD6;">Faça seu login</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <div>
                <div class="form-group">
                  <label for="exampleInputEmail1" style="color: #6E0AD6; font-weight: bold;">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" style="color: #6E0AD6; font-weight: bold;">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 70px;">
            <button type="button" class="btn btn-warning w-75" style="color: #6E0AD6; font-weight: bold;" routerLink = "/entregas">Entrar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 d-flex justify-content-center">
            <img src="../../assets/img/entregador.png" alt="icone entregador">
        </div>
    </div>
</div>