<div class="container-fluid" style="background-color: #6E0AD6;">
    <nav class="navbar navbar-expand-lg navbar-light m-0" style="background-color: #6E0AD6; height: 80px;">
        <a class="navbar-brand text-white" href="#" style="font-weight: bold;">Suas entregas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent"
            style="background-color: gray; height: 600px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</div>

<div class="container-fluid" style="background-color: gray; height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center" style="margin-top: 170px;">
                    <img src="../../assets/img/pacote vazio.png" alt="Icone pacote vazio">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <h5 style="text-align: center; color: black; font-weight: bold;">Você não tem nenhum pedido para entregar
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12  d-flex justify-content-center mb-0"
            style="margin-top: 200px; background-color: gainsboro; height: 100px;">
            <a href=""><img class="p-3" src="../../assets/img/Historico.png" alt="Icone Historico"
                    style="width: 100px;">
            </a>
            <a href=""> <img class="p-3" src="../../assets/img/local.png" alt="Icone local" style="width: 100px;">
            </a>
            <a>
                <img class="p-3" src="../../assets/img/procurar.png" alt="Icone Procurar" width="100px" routerLink = "/pedidos">
            </a>
        </div>
    </div>





</div>