<div class="container-fluid" style="background-color: #6E0AD6;">
    <nav class="navbar navbar-expand-lg navbar-light m-0" style="background-color: #6E0AD6; height: 80px;">       
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    <h5 class="mt-2" style="color: #6E0AD6; font-weight: bold;">Busque o pedido</h5>
                    <h6 style="color: #6E0AD6;">R$ 17</h6>
                    <h6 style="color: #6E0AD6;">Pequeno</h6>
                    <h6>Buscar em Rua Padre Jose Vieira de Matos, 970 - Artur Alvim - SP , 03590-010</h6>
                    <h6><img src="../../assets/img/relogio.png" alt="Icone Relogio" style="width: 32px;"> 15:00 - 16:00
                    </h6>
                    <h6 class="mt-3">Tempo até o estabelecimento:</h6>
                    <h5> min / KM</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.675394104408!2d-46.48104368554346!3d-23.5441747668418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce67279fd065fb%3A0x489d82606ff4aebe!2sR.%20Padre%20Jos%C3%A9%20Vi%C3%AAira%20de%20Matos%2C%20970%20-%20Conj.%20Hab.%20Padre%20Manoel%20da%20Nobrega%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003590-010!5e0!3m2!1spt-BR!2sbr!4v1603018724282!5m2!1spt-BR!2sbr" width="250" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <h6 class="mt-3"><img class="" src="../../assets/img/contato.png" alt="Icone contato" style="width: 50px; margin-right: 140px;"> 
                    <img src="../../assets/img/ponto-de-interrogacao.png" alt="Icone ajuda" style="width: 50px;"></h6>
                    <button type="button" class="btn mt-3"
                    routerLink = "/cheguei"
                        style="background-color: #6E0AD6; text-align: center;
                         color: #FFFFFF; font-weight: bold; width: 100%;"
                      >Cheguei no estabelecimento</button>
                </div>
            </div>
        </div>
    </div>
</div>

