<div class="container" style="background-color: gray; height: 800px;">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 150px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Confirme o Pedido</h5>
                  <h6 class="card-subtitle mb-2 text-muted mt-2">Codigo do produto</h6>
                  <h6 class="card-subtitle mb-2 text-muted mt-2">0001</h6>
                  <p class="card-text">Leia o QR CODE do comprador para finalizar a entrega.</p>
                  <img src="../../assets/img/qrcode.png" alt="qrcode">
                  <button type="button" class="btn mt-3" style="background-color: #6E0AD6;  color: #FFFFFF; font-weight: bold; width: 100%;"
                  routerLink = "/entregas">Finalizar Entrega</button>
                </div>
              </div>
        </div>
    </div>
</div>